body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#fs {
    font-size: 20px;
}

em strong{
    color: red;
}

#banner {
    width: 100%;
}